# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch checkpoints and model files
# *.pth
*.pt

# Logs
*.log
app_debug.log

# OS-specific
.DS_Store
Thumbs.db

# Uploaded and generated images
uploads/
predictions/

# Environment variable files (if any)
.env
.env.*

# VS Code settings (optional)
.vscode/

# Flask cache
instance/
*.pyc

# Pytest cache
.cache/

# Build directories
build/
dist/
*.egg-info/

# Data files
*.npz
*.npy
